.app {
  margin-top: 100px;
  margin-bottom: 100px;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 100px 2fr 100px;
  grid-template-areas:
    "head head head"
    "panleft mainbody panright"
    "foot foot foot";
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  grid-area: head;
  border: 1px solid black;
  position: sticky;
  top: 0;
}

.panel-left {
  grid-area: panleft;
  border: 1px solid black;
}

.main-body {
  grid-area: mainbody;
  border: 1px solid black;
  min-height: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel-right {
  grid-area: panright;
  border: 1px solid black;
}

.footer {
  grid-area: foot;
  border: 1px solid black;
  position: sticky;
  bottom: 0;
}

.header,
.panel-left,
.main-body,
.panel-right,
.footer {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
}